<div class="w-full h-11 flex flex-row gap-1 p-1 overflow-x-scroll whitespace-nowrap no-scrollbar">
  <sk-button text="Add Player" icon="person_add" (action)="addPlayer()" />
  <sk-button text="Add Round" icon="add_row_below" (action)="addRound()" />
  <sk-button
    [text]="isEditMode() ? 'Exit Edit Mode' : 'Enter Edit Mode'"
    [icon]="isEditMode() ? 'edit_off' : 'edit'"
    (action)="toggleEditMode()"
  />
  <sk-button text="Reset" icon="delete_forever" type="danger" (action)="reset()" />
</div>
<div class="overflow-auto table-height">
  <table class="border-none border-separate border-spacing-0">
    <thead class="sticky top-0 z-10 bg-snow-storm-1 dark:bg-polar-night-3">
      <th class="sticky left-0 p-1 border border-snow-storm-3 dark:border-polar-night-1"></th>
      @for (player of scorekeeperForm.players; track player; let i = $index) {
        <th class="border border-snow-storm-3 dark:border-polar-night-1">
          <input
            type="text"
            [formField]="player.name"
            [placeholder]="getDefaultPlayerName(i)"
            class="p-1 text-center text-polar-night-1 dark:text-snow-storm-3 placeholder:text-polar-night-4 dark:placeholder:text-snow-storm-3"
            [class.full-input]="!isEditMode()"
            [class.w-24]="isEditMode()"
          />
          @if (isEditMode() && playersNumber() > 1) {
            <sk-remove-button
              tooltip="Remove Player"
              icon="person_remove"
              (action)="removePlayer(i)"
            />
          }
        </th>
      }
    </thead>
    <tbody>
      @for (round of scorekeeperForm.players[0].score; track round; let i = $index) {
        <tr>
          <td
            class="sticky left-0 p-1 bg-snow-storm-1 dark:bg-polar-night-3 border border-snow-storm-3 dark:border-polar-night-1 text-right"
          >
            @if (isEditMode()) {
              <sk-remove-button [tooltip]="`Remove Round ${i + 1}`" (action)="removeRound(i)" />
            }
            @if (!isEditMode()) {
              <span class="font-bold text-polar-night-1 dark:text-snow-storm-3">{{ i + 1 }}.</span>
            }
          </td>
          @for (player of scorekeeperForm.players; track player) {
            <td
              class="bg-snow-storm-2 dark:bg-polar-night-4 border border-snow-storm-3 dark:border-polar-night-1"
            >
              <input
                type="number"
                [formField]="player.score[i]"
                (keydown)="scoreChange($event, i)"
                placeholder="enter score"
                class="p-1 text-right full-input text-polar-night-1 dark:text-snow-storm-3 placeholder:text-polar-night-4 dark:placeholder:text-snow-storm-3"
              />
            </td>
          }
        </tr>
      }
    </tbody>
    <tfoot>
      <tr class="sticky bottom-0 bg-snow-storm-1 dark:bg-polar-night-3">
        <td
          class="sticky left-0 p-1 border border-snow-storm-3 dark:border-polar-night-1 text-polar-night-1 dark:text-snow-storm-3 font-bold"
        >
          Sum
        </td>
        @for (player of scorekeeperForm.players; track player; let i = $index) {
          <td
            class="p-1 border border-snow-storm-3 dark:border-polar-night-1 text-polar-night-1 dark:text-snow-storm-3 font-bold text-right"
          >
            {{ sums()[i] }}
          </td>
        }
      </tr>
    </tfoot>
  </table>
</div>
