/* remove arrows from number input in webkit browsers */
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/* remove arrows from number input in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.full-input {
  width: 7.5rem;
}
