<div class="w-full h-11 flex flex-row gap-1 p-1 overflow-x-scroll whitespace-nowrap no-scrollbar">
  <sk-button text="Add Player" (action)="addPlayer()" />
  <sk-button text="Add Round" (action)="addRound()" />
  <sk-button
    [text]="isEditMode() ? 'Exit Edit Mode' : 'Enter Edit Mode'"
    (action)="toggleEditMode()"
  />
  <sk-button text="Reset" (action)="reset()" />
</div>
<div class="overflow-auto table-height">
  <table class="border-none border-separate border-spacing-0">
    <thead class="sticky top-0 z-10">
      <th class="sticky left-0 bg-gray-200 border border-white p-1"></th>
      @for (player of scorekeeperForm.players; track player; let i = $index) {
        <th class="border border-white bg-gray-200">
          <input
            type="text"
            [formField]="player.name"
            [placeholder]="getDefaultPlayerName(i)"
            class="p-1 text-center"
            [class.full-input]="!isEditMode()"
            [class.w-24]="isEditMode()"
          />
          @if (isEditMode() && playersNumber() > 1) {
            <sk-remove-button tooltip="Remove Player" (action)="removePlayer(i)" />
          }
        </th>
      }
    </thead>
    <tbody>
      @for (round of scorekeeperForm.players[0].score; track round; let i = $index) {
        <tr>
          <td
            class="sticky left-0 p-1 bg-gray-200 border border-white"
            [class.text-right]="!isEditMode()"
            [class.text-center]="isEditMode()"
          >
            @if (isEditMode()) {
              <sk-remove-button [tooltip]="`Remove Round ${i + 1}`" (action)="removeRound(i)" />
            }
            @if (!isEditMode()) {
              <span class="font-bold">{{ i + 1 }}.</span>
            }
          </td>
          @for (player of scorekeeperForm.players; track player) {
            <td class="border border-white bg-gray-100">
              <input
                type="number"
                [formField]="player.score[i]"
                (keydown)="scoreChange($event, i)"
                placeholder="enter score"
                class="p-1 text-right full-input"
              />
            </td>
          }
        </tr>
      }
    </tbody>
    <tfoot>
      <tr class="sticky bottom-0">
        <td class="sticky left-0 p-1 bg-gray-200 border border-white font-bold">Sum</td>
        @for (player of scorekeeperForm.players; track player; let i = $index) {
          <td class="p-1 border border-white bg-gray-200 font-bold text-right">
            {{ sums()[i] }}
          </td>
        }
      </tr>
    </tfoot>
  </table>
</div>
