/* remove arrows from number input in webkit browsers */
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/* remove arrows from number input in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.full-input {
  width: calc(var(--spacing) * 24 + var(--spacing) * 6);
}

.table-height {
  height: calc(100dvh - var(--spacing) * 11);
}

@media(orientation: landscape) {
  .table-height {
    height: calc(100lvh - var(--spacing) * 11);
  }
}
