<div class="p-1">
  <button (click)="addPlayer()" class="border p-1 cursor-pointer">Add Player</button>
  <button (click)="addRound()" class="ml-1 border p-1 cursor-pointer">Add Row</button>
  <button (click)="reset()" class="ml-1 border p-1 cursor-pointer">Reset</button>
  <table class="mt-1">
    <thead>
      <th class="border p-1"></th>
      @for (player of scorekeeperForm.players; track player; let i = $index) {
        <th class="border p-1">
          <input
            type="text"
            [formField]="player.name"
            [placeholder]="`Player ${i + 1}`"
            class="text-center"
          />
        </th>
      }
    </thead>
    <tbody>
      @for (round of scorekeeperForm.players[0].score; track round; let i = $index) {
        <tr>
          <td class="border p-1 text-right">{{ i + 1 }}.</td>
          @for (player of scorekeeperForm.players; track player) {
            <td class="border p-1">
              <input
                type="number"
                [formField]="player.score[i]"
                (keydown)="scoreChange($event, i)"
                placeholder="enter score"
                class="w-full text-right"
              />
            </td>
          }
        </tr>
      }
      <tr>
        <td class="border p-1 font-bold">Total</td>
        @for (player of scorekeeperForm.players; track player) {
          <td class="border p-1 font-bold text-right">
            {{ calculateSum(player.score().value()) }}
          </td>
        }
      </tr>
    </tbody>
  </table>
</div>
