<div
  class="flex"
  [class.flex-col]="actionsPosition() === 'top' || actionsPosition() === 'bottom'"
  [class.flex-row]="actionsPosition() === 'left' || actionsPosition() === 'right'"
>
  @if (actionsPosition() === 'bottom' || actionsPosition() === 'right') {
    <sk-scoreboard [(isEditMode)]="isEditMode" [actionsPosition]="actionsPosition()" />
  }
  <sk-actions
    [(isEditMode)]="isEditMode"
    [(actionsPosition)]="actionsPosition"
    (playerAdded)="focusLastPlayer()"
    (roundAdded)="scrollToLastRound()"
  />
  @if (actionsPosition() === 'top' || actionsPosition() === 'left') {
    <sk-scoreboard [(isEditMode)]="isEditMode" [actionsPosition]="actionsPosition()" />
  }
</div>
