<div
  class="flex"
  [class.flex-col]="actions.position() === 'top' || actions.position() === 'bottom'"
  [class.flex-row]="actions.position() === 'left' || actions.position() === 'right'"
>
  @if (actions.position() === 'bottom' || actions.position() === 'right') {
    <sk-scoreboard [(isEditMode)]="isEditMode" />
  }
  <sk-actions
    [(isEditMode)]="isEditMode"
    (playerAdded)="focusLastPlayer()"
    (roundAdded)="scrollToLastRound()"
  />
  @if (actions.position() === 'top' || actions.position() === 'left') {
    <sk-scoreboard [(isEditMode)]="isEditMode" />
  }
</div>
