<div class="container">
  @for (player of scorekeeperForm.players; track $index) {
    <div>
      <input type="text" [formField]="player.name" />
      @for (score of player.score; track $index) {
        <div>
          <input
            type="number"
            [formField]="score"
            (change)="scoreChange($index)"
            placeholder="enter score"
          />
        </div>
      }
      <div class="sum">{{ calculateSum(player.score().value()) }}</div>
    </div>
  }
  <div><button (click)="addPlayer()">Add Player</button></div>
</div>

<router-outlet />
