<main
  [class]="`overflow-auto ${actions.position() === 'top' || actions.position() === 'bottom' ? 'sk-table-height' : 'h-dvh sk-table-width'}`"
>
  <form>
    <table class="border-none border-separate border-spacing-0">
      <thead class="sticky top-0 z-10">
        <th
          class="sticky left-0 p-1 bg-snow-storm-1 dark:bg-polar-night-3 border border-snow-storm-3 dark:border-polar-night-1"
        ></th>
        @for (player of state.scorekeeperForm.players; track player) {
          <th
            class="bg-snow-storm-1 dark:bg-polar-night-3 border border-snow-storm-3 dark:border-polar-night-1"
          >
            <input
              type="text"
              [formField]="player.name"
              [placeholder]="getDefaultPlayerName($index)"
              (change)="undoService.clearPrevState()"
              autocomplete="off"
              class="p-1 text-center text-polar-night-1 dark:text-snow-storm-3 placeholder:text-polar-night-4 dark:placeholder:text-snow-storm-1 placeholder:italic rounded-sm focus:outline-solid focus:outline-1 outline-polar-night-4 dark:outline-snow-storm-3 selection:bg-frost-4 selection:text-snow-storm-3"
              [class.sk-full-input]="!isEditMode()"
              [class.w-24]="isEditMode()"
            />
            @if (isEditMode() && state.playersNumber() > 1) {
              <sk-remove-button
                tooltip="Remove Player"
                icon="person_remove"
                (action)="state.removePlayer($index)"
              />
            }
          </th>
        }
      </thead>
      <tbody>
        @for (round of state.scorekeeperForm.players[0].score; track round; let i = $index) {
          <tr>
            <td
              class="sticky left-0 p-1 bg-snow-storm-1 dark:bg-polar-night-3 border border-snow-storm-3 dark:border-polar-night-1 text-right"
            >
              @if (isEditMode()) {
                <sk-remove-button
                  [tooltip]="`Remove Round ${i + 1}`"
                  (action)="state.removeRound(i)"
                />
              }
              @if (!isEditMode()) {
                <span class="font-bold text-polar-night-1 dark:text-snow-storm-3"
                  >{{ i + 1 }}.</span
                >
              }
            </td>
            @for (player of state.scorekeeperForm.players; track player) {
              <td
                class="bg-snow-storm-2 dark:bg-polar-night-4 border border-snow-storm-3 dark:border-polar-night-1"
              >
                <input
                  type="number"
                  [formField]="player.score[i]"
                  (keydown)="scoreChange($event, i)"
                  placeholder="enter score"
                  class="p-1 text-right text-polar-night-1 dark:text-snow-storm-3 placeholder:text-polar-night-4 dark:placeholder:text-snow-storm-1 placeholder:italic rounded-sm focus:outline-solid focus:outline-1 outline-polar-night-4 dark:outline-snow-storm-3 selection:bg-frost-4 selection:text-snow-storm-3 sk-full-input"
                />
              </td>
            }
          </tr>
        }
      </tbody>
      <tfoot>
        <tr class="sticky bottom-0">
          <td
            class="sticky left-0 p-1 bg-snow-storm-1 dark:bg-polar-night-3 border border-snow-storm-3 dark:border-polar-night-1 text-polar-night-1 dark:text-snow-storm-3 font-bold"
          >
            Sum
          </td>
          @for (player of state.scorekeeperForm.players; track player) {
            <td
              class="p-1 bg-snow-storm-1 dark:bg-polar-night-3 border border-snow-storm-3 dark:border-polar-night-1 text-polar-night-1 dark:text-snow-storm-3 font-bold text-right"
            >
              {{ state.sums()[$index] }}
            </td>
          }
        </tr>
      </tfoot>
    </table>
  </form>
</main>
