/* remove arrows from number input in webkit browsers */
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* remove arrows from number input in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.sk-full-input {
  width: calc(var(--spacing) * 24 + var(--spacing) * 6);
}

.sk-table-height {
  height: calc(100dvh - var(--spacing) * 11);
}
