/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

input {
  width: 120px;
}

/* remove arrows from number input in webkit browsers */
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/* remove arrows from number input in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
