/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

input {
  width: 150px;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
